@mixin flex-align-content($x: null, $y: null) {
  display: flex;

  @if ($x != null) {
    justify-content: $x;
  }

  @if ($y != null) {
    align-items: $y;
  }

  @content;
}

@mixin image-cover() {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
